<div class="grid">
  <div class="col-8">
    <div class="card px-6 py-6">
      <p-toolbar styleClass="mb-6">
        <ng-template #start>
          <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        </ng-template>

        <ng-template #end>
          <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="users" responsiveLayout="scroll" [rows]="10" [paginator]="true"
        [globalFilterFields]="['name_us']" [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} users" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 20, 30]">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id_us" scope="col">
              Id <p-sortIcon field="id_us"></p-sortIcon>
            </th>
            <th pSortableColumn="name_us" scope="col">
              Name <p-sortIcon field="name_us"></p-sortIcon>
            </th>
            <th pSortableColumn="lastname_us" scope="col">
              Lastname <p-sortIcon field="lastname_us"></p-sortIcon>
            </th>
            <th pSortableColumn="email_us" scope="col">
              Email <p-sortIcon field="email_us"></p-sortIcon>
            </th>
            <th pSortableColumn="rol" scope="col">
              Rol <p-sortIcon field="rol"></p-sortIcon>
            </th>
            <th pSortableColumn="dni_us" scope="col">
              Dni <p-sortIcon field="dni_us"></p-sortIcon>
            </th>
            <th pSortableColumn="phone_us" scope="col">
              Phone <p-sortIcon field="phone_us"></p-sortIcon>
            </th>
            <th pSortableColumn="nationality_us" scope="col">
              Nationality <p-sortIcon field="nationality_us"></p-sortIcon>
            </th>
            <th pSortableColumn="gender_us" scope="col">
              Gender <p-sortIcon field="gender_us"></p-sortIcon>
            </th>
            <th pSortableColumn="terms_and_conditions" scope="col">
              Terms and Conditions <p-sortIcon field="terms_and_conditions"></p-sortIcon>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-user>
          <tr>
            <td style="min-width: 10rem">{{ user.id }}</td>
            <td style="min-width: 10rem">{{ user.name_us }}</td>
            <td style="min-width: 10rem">{{ user.lastname_us }}</td>
            <td style="min-width: 10rem">{{ user.email_us }}</td>
            <td style="min-width: 10rem">{{ user.rol }}</td>
            <td style="min-width: 10rem">{{ user.dni_us }}</td>
            <td style="min-width: 10rem">{{ user.phone_us }}</td>
            <td style="min-width: 10rem">{{ user.nationality_us }}</td>
            <td style="min-width: 10rem">{{ user.gender_us }}</td>
            <td style="min-width: 10rem">{{ user.terms_and_conditions }}</td>
          </tr>
        </ng-template>
      </p-table>

    </div>

    <p-dialog [(visible)]="userDialog" [style]="{ width: '450px' }" header="Usuario Details" [modal]="true"
      styleClass="p-fluid">
      <form [formGroup]="userForm">
        <div class="field">
          <div>
            <label for="name_us">Name</label>
            <input type="text" pInputText id="name_us" formControlName="name_us" autofocus
              [ngClass]="{ 'ng-dirty': isInvalid('name_us') }" />
            <small *ngIf="isRequire('name_us', 'required')" class="input-invalid">User name is
              required.</small>
          </div>
        </div>
        <div class="field">
          <div>
            <label for="lastname_us">Lastname</label>
            <input type="text" pInputText id="lastname_us" formControlName="lastname_us" autofocus
              [ngClass]="{ 'ng-dirty': isInvalid('lastname_us') }" />
            <small *ngIf="isRequire('lastname_us', 'required')" class="input-invalid">Last name is
              required.</small>
          </div>
        </div>
        <div class="field">
          <div>
            <label for="email_us">Email</label>
            <input type="text" pInputText id="email_us" formControlName="email_us" autofocus
              [ngClass]="{ 'ng-dirty': isInvalid('email_us') }" />
            <small *ngIf="isRequire('email_us', 'required')" class="input-invalid">Email is
              required.</small>
          </div>
        </div>
        <div class="field">
          <div>
            <label for="password_us">Password</label>
            <input type="text" pInputText id="password_us" formControlName="password_us" autofocus
              [ngClass]="{ 'ng-dirty': isInvalid('password_us') }" />
            <small *ngIf="isRequire('password_us', 'required')" class="input-invalid">Password is
              required.</small>
          </div>
        </div>
        <div class="field">
          <div>
            <label for="dni_us">DNI</label>
            <input type="text" pInputText id="dni_us" formControlName="dni_us" autofocus
              [ngClass]="{ 'ng-dirty': isInvalid('dni_us') }" />
            <small *ngIf="isRequire('dni_us', 'required')" class="input-invalid">DNI is
              required.</small>
          </div>
        </div>
        <div class="field">
          <div>
            <label for="phone_us">Phone</label>
            <input type="text" pInputText id="phone_us" formControlName="phone_us" autofocus
              [ngClass]="{ 'ng-dirty': isInvalid('phone_us') }" />
            <small *ngIf="isRequire('phone_us', 'required')" class="input-invalid">Phone is
              required.</small>
          </div>
        </div>
        <div class="field">
          <div>
            <label for="nationality_us">Nationality</label>
            <input type="text" pInputText id="nationality_us" formControlName="nationality_us" autofocus
              [ngClass]="{ 'ng-dirty': isInvalid('nationality_us') }" />
            <small *ngIf="isRequire('nationality_us', 'required')" class="input-invalid">Nationality is
              required.</small>
          </div>
        </div>
        <div class="field">
          <div>
            <label for="gender_us">Gender</label>
            <input type="text" pInputText id="gender_us" formControlName="gender_us" autofocus
              [ngClass]="{ 'ng-dirty': isInvalid('gender_us') }" />
            <small *ngIf="isRequire('gender_us', 'required')" class="input-invalid">Gender is
              required.</small>
          </div>
        </div>
        <div class="field">
          <div>
            <label for="terms_and_conditions">Terms and Conditions</label>
            <input type="text" pInputText id="terms_and_conditions" formControlName="terms_and_conditions" autofocus
              [ngClass]="{ 'ng-dirty': isInvalid('terms_and_conditions') }" />
            <small *ngIf="isRequire('terms_and_conditions', 'required')" class="input-invalid">Terms and Conditions is
              required.</small>
          </div>

        </div>

        <div class="flex">
          <p-button label="Cancel" onkeyup icon="pi pi-times" text (click)="hideDialog()" />
          <p-button label="Save" onkeyup icon="pi pi-check" (click)="saveUser()" />
        </div>
      </form>
    </p-dialog>

    <p-confirmdialog [style]="{ width: '450px' }" />
  </div>
</div>